.col{
   display: flex;
  justify-content: center;
}

.rateCol{
   :global{
      .ant-descriptions-item-label,.ant-descriptions-item{
        line-height: 38px;
        margin-left: 10px;
        //width:120px;
      }
   }
}
